<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>{{msg}}</h1>
                <h2>Your go to platform for Anime</h2>

                <div class="row">
                    <div class="col-4 p-5 border border-dark">
                        <img id="grid_0" data-id="" class="img-fluid" src="{{imgURL}}" alt="">
                    </div>


                </div>
                <ul id="example-list" class="list-group">
                    {{#each examples}}
                    <li data-id="{{this.id}}" class="list-group-item">
                        <a href="example/{{this.id}}">{{this.text}}</a>
                        <button class="btn btn-danger float-right delete">ｘ</button>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="/js/index.js">
    const queryURL = "https://kitsu.io/api/edge/anime?page[limit]=1?filter[text]=naruto";
    function grabAnime(title, grid) {
        $.ajax({
            url: queryURL + title,
            method: "GET"
        }).then(function (response) {

            let anime;
            for (let i = 0; i < response.data.length; i++) {
                anime = response.data[i].attributes;
                console.log(anime[i].posterImage.original);
            }


            $("#grid_" + grid)
                .attr({ src: anime.posterImage.original })
                .val(response.data[0].id);
            // $("#grid_1_text").text(anime.synopsis);
        });
    }
    $('document').ready(function () {
        grabAnime("naruto", "0");
    });

</script>